#
# Cpplint is a command-line tool to check C/C++ files for style issues following Google's C++ style guide.
# https://github.com/cpplint/cpplint
#
# Type the command below for details about supported options in CPPLINT.cfg.
# > cpplint --help
#
set noparent
root=.
linelength=250
filter=-build/c++11
filter=+build/c++14
filter=-build/header_guard
filter=-build/include_subdir
filter=-whitespace/ending_newline
